{% extends "base.html.twig" %}

{% block body %}
    <h2>Upload Invoices</h2>

    <form action="/api/invoice" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
        <input type="file" name="csv" id="csv">

        <input type="submit" />
    </form>

    <hr>

    <h2>Invoices</h2>

    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Expired At</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <th scope="row">{{ invoice.invoiceId }}</th>
                <td>{{ invoice.amount }}</td>
                <td>{{ invoice.price }}</td>
                <td>{{ invoice.expiredAt | date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}